* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textarea {
  resize: none;
}

/******** Firefox ********/
input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  background: #b4b3b3;
  height: 0.5rem;
}

.round-m {
  border-radius: 1rem;
}

.round-l {
  border-radius: 2.5rem;
}

.round-s {
  border-radius: 10px;
}

.round-vs {
  border-radius: 5px !important;
}

.fs-small-8 {
  font-size: 0.8rem;
}

.fs-small-9 {
  font-size: 0.9rem;
}

.fs-small-9 {
  font-size: 0.9rem;
}

.cursor-p {
  cursor: pointer;
}

.text-7b868a {
  color: #7b868a;
}

.bg-ededed {
  background-color: #ededed;
}

.bg-perpur-6a1cc0 {
  background-color: #6a1cc0;
}

.bg-474747 {
  background-color: #474747;
}

.bg-25d366 {
  background-color: #25d366;
}

.bg-2ca5e0 {
  background-color: #2ca5e0;
}

.bg-e31784 {
  background-color: #e31784;
}

.bg-ec406a {
  background-color: #ec406a;
}

.bg-f8f9fa {
  background-color: #f8f9fa;
}

.text-fb6c78 {
  color: #fb6c78;
}

.text-7b15c5 {
  color: #7b15c5;
}

.bg-535b61 {
  background-color: #535b61;
}

.pb-small-1 {
  padding-bottom: 11px;
}

.border-right-pink {
  padding-right: 10px;
  border-right: 2px solid #ec406a;
}

.line {
  border-left: 2px solid #ddd;
  height: 10px;
}

.circle {
  transition: all 0.4s;
  padding: 4px;
  border: 2px solid #ddd;
  border-radius: 50%;
}

.border-dotted {
  border: gray dotted 1px;
}

.w-24-24 {
  width: 24px;
  height: 24px;
}

.border-dottet {
  border: 1px dotted #c0c3c4;
  border-radius: 10px;
}

.fw-very-bold {
  font-weight: 900;
}

.p-2-12 {
  padding: 11px 12px 11px 12px;
}

.p-2-11 {
  padding: 11px;
}

.bg-gradient-p-lp {
  background-image: linear-gradient(270deg, #7b16c6 0%, #c82090 59%);
}

.pink-color-hoverAni {
  transition: all 0.2s;
  cursor: pointer;
}
.pink-color-hoverAni:hover {
  color: #ec406a !important;
}

.w-custom-cart {
  width: 100px;
  height: auto;
}

.me-custom-big {
  margin-left: 9rem;
}

.pink-btn {
  cursor: pointer;
  background-color: #ec406a;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.7rem;
  overflow: hidden;
}

.btn-pink-border-box {
  cursor: pointer;
  transition: all 0.4s;
  border: #ec406a 2px solid;
  background-color: #fff;
  color: #ec406a;
}
.btn-pink-border-box:hover {
  background-color: #ec406a;
  color: white;
}

.border-535b61 {
  border: #535b61 2px solid;
}

.progres-box {
  background-color: #eeeeee;
}
.progres-box--amount {
  background-color: #ec406a;
}
.progres-box--amount-w-70 {
  width: 70%;
}
.progres-box--amount-w-93 {
  width: 93%;
}
.progres-box--amount-w-82 {
  width: 82%;
}
.progres-box--amount-w-46 {
  width: 46%;
}

@font-face {
  font-family: tanha;
  src: url(../fonts/tanha-font-v0.9/Tanha.woff) format("woff");
}
body {
  font-family: tanha;
  background-color: #f5f5f8;
}

.clr-b {
  color: #000;
}

.nav--item {
  transition: all 0.3s;
  overflow: hidden;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
}
.nav--item--active {
  color: #c82090;
}
.nav--item--active--hover:hover {
  color: #c82090 !important;
  transform: scale(1.1);
}
.nav--item:hover {
  transform: scale(1.1);
  color: #ec406a !important;
}

.heding-black {
  color: #000;
  font-weight: 900;
}
.heding-black--big {
  font-size: 3rem;
}

.vh-85 {
  height: 85vh;
}

.item--product-h:hover .circle {
  background-color: #e31784;
  border: 2px solid #e31784;
}

.item--product-text {
  transition: all 0.4s;
}

.item--product-h:hover .item--product-text {
  transform: translateX(-10px);
}

.item--product-h {
  overflow: hidden;
  transition: all 0.4s;
}
.item--product-h:hover {
  background-color: #f8f9fa;
}

.search-bar-icon-position {
  left: 5%;
  top: 25%;
}

.outline-none:focus {
  outline: none;
}

.bg-img-top-box1 {
  background-image: url("../img/slide-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.card-animation-scale-shadow {
  cursor: pointer;
  transition: all 0.4s;
}
.card-animation-scale-shadow:hover {
  transform: translateY(-10px);
  box-shadow: 0 0px 20px rgb(170, 170, 170);
}

.phone-show {
  display: none;
}

.btn-purple {
  transition: all 0.4s;
  cursor: pointer;
}
.btn-purple:hover {
  transform: scale(1.1);
}
.btn-purple:active {
  transform: scale(0.98);
}

.bg-img-about-us {
  background-image: url("../img/slide-bg-1n.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.parallax {
  /* The image used */
  background-image: url("../img/IMG_4926.png"), linear-gradient(270deg, #7b16c6 0%, #c82090 61%);
  /* Set a specific height */
  min-height: auto;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg__img--login {
  background-image: url(../img/slide-min.png);
  background-size: cover;
  background-position: top;
  position: relative;
}

.login__a {
  display: flex;
  margin-right: 4.5rem;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn__login--black {
  background-color: rgba(25, 37, 28, 0.8470588235);
  color: #fff;
}

.btn__login--black::after {
  background-color: rgba(25, 37, 28, 0.8470588235);
}

.form__input {
  font-size: 0.8rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
}

@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(25, 37, 28, 0.8470588235);
}

.form__input:focus:invalid {
  border-bottom: 3px solid darkblue;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 0.7rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.shadow__login {
  box-shadow: 0 2.5rem 3rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

.menu-icon {
  cursor: pointer;
  font-size: 40px;
  text-align: center;
}

.menu {
  background-color: #333;
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  transition: left 0.4s;
  transition: left 0.4s;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #555;
  overflow: hidden;
}

.menu li:last-child {
  border-bottom: none;
}

.bg-7b868a {
  background-color: #7b868a;
}

.menu a {
  color: #fff;
  display: block;
  padding: 20px;
  text-decoration: none;
  transition: all 0.3s;
  transition: all 0.3s;
}

.menu a:hover {
  background-color: #555;
  transform: scale(1.1);
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  left: 0;
}

.btn__articles {
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background-color: #ececec;
}

.card__articles--hover {
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.3s;
}
.card__articles--hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 0.8rem 3rem rgba(0, 0, 0, 0.4);
}
.card__articles--hover:hover .btn__articles {
  background-color: #ec406a;
  color: #fff !important;
}

.phone-flex-none {
  display: flex !important;
}

@media only screen and (max-width: 1000px) {
  .phone-none {
    display: none;
  }
  .phone-flex-none {
    display: none !important;
  }
  .phone-show {
    display: block;
  }
  .sticky-top-custom {
    position: static;
  }
  .bg-img-top-box1 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.749), rgba(255, 255, 255, 0.655)), url("../img/slide-min.png");
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.749), rgba(255, 255, 255, 0.655)), url("../img/slide-min.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}
@media only screen and (max-width: 1000px) {
  .card__articles--hover {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 60%;
    border-radius: 15px;
    transition: all 0.3s;
  }
  .card__articles--hover:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.8rem 3rem rgba(0, 0, 0, 0.4);
  }
}
.articles__text {
  transition: all 0.4s;
}
.articles__text:hover {
  color: #c82090;
}

.item-gray-hover-dark {
  transition: all 0.3s;
  border-radius: 3px;
  color: #8a9598 !important;
  background-color: #eaecef;
  text-decoration: none !important;
}
.item-gray-hover-dark:hover {
  color: #eaecef !important;
  background-color: #7b868a;
}
.item-gray-hover-dark--active {
  color: #eaecef !important;
  background-color: #7b868a;
}

.card-animation-scale-shadow-small {
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s;
}
.card-animation-scale-shadow-small:hover {
  box-shadow: 0 0px 4px rgb(170, 170, 170);
}

.pb-c-10px {
  padding-bottom: 10px;
}

.border-bottom-pink {
  padding-bottom: 10px;
  border-bottom: 2px solid #ec406a;
}

.sell_course {
  color: #777;
  font-size: 16px;
  display: flex;
  border: 1px dashed #ddd;
  background-color: #f9f9f9;
  padding: 0 15px;
  border-radius: 10px;
  line-height: 52px;
  position: relative;
}

.sell_course::before {
  content: "";
  width: 16px;
  height: 16px;
  border-left: 2px dashed #ddd;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 8px);
  right: -9px;
}

.sell_course::after {
  content: "";
  width: 16px;
  height: 16px;
  border-left: 2px dashed #ddd;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 8px);
  right: -9px;
}

.sell_course strong {
  padding-left: 20px;
  border-left: 2px dashed #ddd;
  font-weight: 500;
  width: 100%;
  max-width: 84px;
  text-align: center;
}

.product-info-box p.price {
  font-size: 25px;
  margin-bottom: 0;
  font-size: 17px;
  width: 100%;
  text-align: left;
}

.price > .amount {
  font-size: 26px;
}

.price span.woocommerce-Price-currencySymbol {
  float: left;
  color: grey;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  margin-right: 5px;
}

.card__articles--hover {
  transition: all 0.4s;
  cursor: pointer;
}
.card__articles--hover:hover {
  transform: translateY(-8px);
}

.articles__text {
  cursor: pointer;
}

.sticky-top-custom {
  position: sticky;
  top: 6rem;
}

@media only screen and (max-width: 600px) {
  .bg__img--login {
    background: #fff;
  }
  .me-custom-big {
    margin-left: 5rem;
  }
  .sticky-top-custom {
    position: static;
  }
}
.c-p {
  cursor: pointer;
}

.user-item {
  transition: all 0.4s;
}
.user-item:hover {
  background-color: #333;
}
.user-item--init {
  margin-right: 10px;
}

.bg-graylight {
  background-color: #333;
}

/*# sourceMappingURL=main.css.map */
